/* reset css */
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--black1-cl);
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Lato";
    color: #171719;
    font-size: 14px;
    letter-spacing: 2px;
    margin: auto;
    font-weight: 400;
    width: 100%;
    background: var(--white);
    scroll-behavior: smooth;
}
.container-fluid {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 767px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.container {
    max-width: 1210px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
main {
    width: 100%;
    margin: auto;
}

/* homepage */
/* header */
.header {
    height: 16rem;
}
.header__top {
    height: 5rem;
}
.header__top-content {
    background: var(--black-text);
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}
.header__lang {
    top: 1rem;
    right: 50px;
}

.lang__current:hover {
    color: red;
}
.lang__current.active {
    color: red;
}
.lang__option {
    display: none;
    width: auto;
    height: auto;
    /* padding: 2rem; */
    color: var(--white);
    background: var(--black1-cl);
}
.lang__option li {
    padding: 0.5rem;
    /* padding-left: 2rem; */
    /* padding-right: 1rem; */
}
.lang__option li.hover {
    color: red;
}
.lang__option.active {
    display: block;
}
.header__bottom-menu li a:hover {
    opacity: 0.7;
}

.btnmenu {
    display: none;
    margin-left: 2rem;
    overflow: hidden;
    width: 20px;
    height: 20px;
}
.btnmenu span {
    display: block;
    height: 2px;
    width: 100%;
    position: relative;
    background: var(--black-text);
    margin-top: 0.75rem;
}
.btnmenu span::before,
.btnmenu span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--black-text);
    top: 15px;
    display: block;
}
.btnmenu span::before {
    transform: translateY(-10px);
}
.btnmenu span::after {
    transform: translateY(-20px);
}
.btnmenu.active span {
    margin-top: -0.75rem;
    height: 0;
}
.btnmenu.active span::after {
    transform: rotate(45deg);
}
.btnmenu.active span::before {
    transform: rotate(-45deg);
}
@media screen and (max-width: 991px) {
    .header__bottom-logo img {
        width: 79px;
        height: 40px;
    }
    .header__bottom-menu {
        display: none;
    }
    .btnmenu {
        display: block;
    }
}

/* section slider */

.slider__item-content {
    bottom: 50%;
    transform: translateY(-50%);
}
.slider__item {
    display: none;
    height: calc(100vh - 16rem);
}
.slider__item.active {
    display: block;
}
@media screen and (max-width: 767px) {
    .slider__item-content h1 {
        font-size: 18px;
        line-height: 1.5;
        padding-bottom: 1.5rem;
    }
}

/* section category */
.category__wrap {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.category__wrap-btn {
    bottom: 4rem;
}
.category__wrap-btn a:first-child {
    padding-left: 4.3rem;
    padding-right: 4.3rem;
}

@media screen and (max-width: 767px) {
    .category__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* section product */
@media screen and (max-width: 767px) {
    .product__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* section collection */
.section__collection {
    background: url(../img/collection.jpg) top center no-repeat;
    background-size: cover;
}
.collection-desc {
    max-width: 410px;
}

@media screen and (max-width: 767px) {
    .section__collection {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}

/* footer */
footer {
    background: var(--black1-cl);
}
.footer__logo {
    border-bottom: 1px solid #313135;
}
.footer__middle {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.footer__middle-list li,
.footer__middle-list li a {
    padding-bottom: 1.5rem;
}

.footer__address {
    max-width: 200px;
}

input.form-control {
    background-color: #262628;
    padding: 1rem;
    border: unset;
    line-height: 1.7;
}
input.form-control:focus {
    border: unset;
    outline: unset;
}
.form__btn {
    padding: 1rem;
    background: #262628;
    border: unset;
    line-height: 1.7;
}
.footer__contact img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.footer__contact img:first-child {
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .footer__middle {
        flex-direction: column;
    }
    .footer__middle-list {
        padding-bottom: 6rem;
    }
    .footer__address {
        max-width: 100%;
    }
    .footer__middle-list:nth-of-type(4) {
        order: -1;
    }
}

/* =============page history=============== */

/* history */

@media screen and (max-width: 767px) {
    .history__video {
        padding-inline: 0;
    }
    .history__hd {
        font-size: 20px;
        line-height: 1.5;
        padding-top: 3rem;
        padding-bottom: 2.5rem;
    }
}

/* section brand */
.section__brand {
    background: var(--bg-gray);
}
.brand__card-content {
    padding-right: 18.3rem;
}
.brand__card-hd {
    font-size: 30px;
    line-height: 1.3;
}
.brand__card-desc span {
    color: var(--black-text);
}

@media screen and (max-width: 767px) {
    .brand__img {
        order: -1;
    }
}

/* section choose */
.section__choose {
    background: url(../img/historyChoose.jpg) top center no-repeat;
    background-size: cover;
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;
}

/*================page dealer============================*/
/*  section official */

.official__check {
    padding-top: 5rem;
}
.official__check label {
    font-size: 14px;
    line-height: 1.7;
    padding-left: 2rem;
}
.official__check form {
    padding-bottom: 5rem;
}

/* =======page contact========== */
.contact__wrap {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 767px) {
    .contact__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ======page product========== */
.product__card {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media screen and (max-width: 767px) {
    .product__card {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* banner */
.product__banner {
    background: url(../img/productBanner.jpg) top center no-repeat;
    background-size: cover;
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;
}
.product__desc {
    color: var(--gray-cl);
}
@media screen and (max-width: 767px) {
    .product__clean-img {
        order: -1;
    }
}

/* ==========page shop============== */
.shop__banner {
    background: url(../img/shop.jpg) top center no-repeat;
    background-size: cover;
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;
}
.shop__banner-desc {
    max-width: 420px;
}

/* section product */
.shop__desc {
    padding-bottom: 5.8rem;
}
.shop__filter-title {
    font-size: 16px;
    line-height: 1.2;
}
.shop__select {
    border: unset;
    font-size: 16px;
    line-height: 1.2;
}
.shop__product {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
@media screen and (max-width: 767px) {
    .shop__desc {
        flex-direction: column;
        align-items: start;
    }
    .shop__filter {
        padding-top: 2rem;
    }
    .shop__product {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ========page product detail=========== */
.productDetail__info ul li {
    list-style: disc;
}
/* .productDetail__buy {
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}
.productDetail__addCart {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.addCart__sort {
    grid-column: 1;
    grid-row: 1;
}
.addCart__add {
    grid-column: 2 / 4;
    grid-row: 1;
}
.addCart__like {
    grid-column: 4;
    grid-row: 1;
}
.productDetail__btn-buy {
    padding-top: 4.5rem;
} */

/* ==========page faq=============== */
.faq__tab {
    padding-bottom: 6rem;
    /* overflow-x: scroll; */
}
.faq__tab-item {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    color: var(--black3-cl);
    position: relative;
    font-size: 22px;
    line-height: 1.5;
}
.faq__tab-item:hover {
    color: var(--black-text);
}

.faq__tab-item:hover::after {
    color: var(--black-text);
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background: var(--black-text);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
}
.faq__tab-item.active {
    color: var(--black-text);
}
.faq__tab-item.active::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background: var(--black-text);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
}
/* .faq__accordion {
    display: none;
}
.faq__accordion.active {
    display: block;
} */

.faq__accordion-item {
    box-shadow: inset 0px -1px 0px #abaab3;
}
.accordion-link {
    position: relative;
}
.accordion-link::after {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    background: #171719;
}
.accordion-link::before {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    background: #171719;
    transform: rotate(90deg);
}
/* .accordion-link.active::after {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    background: #171719;
} */
.accordion-answer {
    display: none;
    /* padding-top: 4.5rem; */
}
.faq__accordion-item.active .accordion-answer {
    display: block;
}
/* .faq__accordion-item.active .accordion-icon::after {
    display: none;
}
.faq__accordion-item.active .accordion-answer {
    display: block;
} */
/*  */
.faq__desc {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 10rem;
}
.faq__desc a {
    color: var(--black-text);
    position: relative;
    width: 100%;
}
.faq__desc a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--black-text);
    /* top: 50%; */
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 10%);
    /* margin-bottom: 20px; */
}
@media screen and (max-width: 767px) {
    .faq__desc {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
    }
    .faq__desc a::after {
        width: 25%;
    }
}
